# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Dependency directories
node_modules/

# Next.js
.next/
out/

# Build output
build/
dist/

# Turbo
.turbo/

# Vercel
.vercel/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caches
.cache/
.eslintcache
*.tsbuildinfo

# Editor/OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn PnP (optional)
.pnp.*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.js
.env.production
sample-data.csv